.app-header {
    font-size: 60px;
    margin-bottom: 20px;
    margin-left: 40px;
    font-family: 'GloriaHallelujah';
    text-align: center;
}

.add-activity-btn-container {
    margin-top: 20px;
    float: right;
}

.total-items-container {
    margin-top: 20px;
    display: inline-block;
}

.total-items-table {
    text-align: left;
}

.total-items-table th {
    padding-right: 20px;
}

.add-activity-btn {
    font-size: 30px;
    outline: none;
    position: relative;
    right: 0px;
    padding-right: 20px;
    padding-left: 20px;
}

.app-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.activity-container {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15vw;
    margin-right: 15vw;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 30px;
    flex-wrap: wrap;
}

.control-bar {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 30px;
}

.activity-detail-row {
    margin-bottom: 10px;
}

.activity-card {
    max-width: 300px;
    min-width: 300px;
}

.activity-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
}

.activity-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.activity-table th,
.activity-table td {
    padding: 12px 15px;
}

.activity-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.activity-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.activity-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.activity-col {
    height: 65vh;
    overflow: auto;
}

.participants-label {
    margin-left: 30px;
    margin-right: 15px;
}

.slider {
    display: inline-block;
    max-width: 300px;
    vertical-align: middle;
}

.error-label {
    color: red;
}

.filter-container {
    display: inline-block;
    margin-top: 15px;
    margin-left: 30px;
}

.custom-form-group .bp3-label {
    font-weight: bold;
}

.clear-btn {
    float: right;
    margin-top: 15px;
    margin-right: 30px;
}

.submit-filter-btn {
    float: right;
    margin-top: 15px;
}

.helper-text {
    color: red;
}

.trash-icon {
    cursor: pointer;
}

.no-activities-box {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px dashed black;
    border-radius: 10px;
    padding: 50px;
    font-weight: bold;
    font-size: 20px;
}
